<section class="vh-100" *ngIf="!isLoggedIn">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img  src="assets/images/login_admin.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >

      <h1 class="mb-5"style="text-align: center; "><strong>Login</strong></h1>
          <!-- Email input -->
          <div class="form-outline mb-4">

            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Username"  name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"/>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">

            <input type="password" id="form3Example3" class="form-control form-control-lg"
              placeholder="Password"   name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel" />
          </div>

          <div class="d-flex justify-content-between align-items-center mb-5" >
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body" id="frogetpas">Forgot password?</a>
          </div>

            <div class="form-group mt-3">
              <button class="btn btn-block" id="btnlogin">
                LOG IN
              </button>
            </div>
            </form>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5" id="rec">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
    </div>
  </div>
</section>
